<!--      html code used to edit               -->
<html>
    <head>
        <title>Cricket Players List 2021</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        
           
            <div class="container">
            <h1>Edit Cricket Players</h1>

            <form action="/players/<%= players.id %>?_omethod=PUT" method="POST">
            <%- include('form_fields') %>
            </form>
            </div>
</body> 
</html>
  
