<!--      html code used to edit               -->
<html>
    <head>
       <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
     <title>Cricket Players List 2021</title>
    </head>
    <body>
        
        
           
            <div class="container">
            <h1>Edit Cricket Players</h1>

            <form action="/players/<%= player.id %>?_omethod=PUT" method="POST">
            <%- include('form_field') %>
            </form>
            </div>
</body> 
</html>
  
