<div class="form-group">
    <label for="player">player</label>
    <input required value= "<%= player.player %>" type="text" name="player" id="player" class="form-control">

</div>
<div class="form-group">
    <label for="ranking">Ranking</label>
    <input required type="number" name="ranking" id="ranking" class="form-control">"<%= player.ranking %>"

    
</div>
<div class="form-group">
    <label for="country">country</label>
    <input required type="text" name="country" id="country" class="form-control">"<%= player.country %>"
    
</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>