<html>
    <head>
        <title>Player perfomance</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
        <div class="navbar">
            <img src="images/cricket_logo.png" class="logo">
           <nav>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Live</a></li>
                <li><a href="">Contact</a></li>
                
                </ul>
            </nav>
            </div>
        <div class="cricket">
            <h1>Cricket Players List 2021</h1>
            
            <table style="width:100%">
  <tr>
    <th>Player</th>
    <th>Ranking</th>
    <th>Country</th>
  </tr>


<% players.forEach(play => { %>
  <tr>
    <td><%= play.player  %></td>
    <td><%= play.Ranking  %></td>
    <td><%= play.country  %></td>
  
</tr> <% }) %>

            </table>
            </div>


</body>



</html>