<html>
    <head>
        <title>Cricket Player list 2021</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
         <div class="container">
            <h1 class="mb-4">New Player</h1>

            <form action="/players" method="POST">
            <%- include('form_fields') %>
            </form>
            </div>
</body> 
</html>