<html>
    <head>
        <title>Player perfomance</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        
         
           
            <div class="cricket">
            <h1><%= player.player</h1>

           
            </div>
</body> 
</html>